* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    color: black;
}

header {
    width: 100%;
    height: 112px;
    background-color: #e4e4e4;
    border-bottom: solid #cccccc 2px;
}

span {
    color: #ff7700;
}

span:hover {
    color: #a36127;
}

h1 {
    color: #676666;
    text-transform: uppercase;
}

h4 {
    color: #ff7400;
    text-transform: uppercase;
}

p {
    color: #676666;
    opacity: 0.8;
}

button {
    outline: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 4px 13px;
    border-radius: 30px;
    background-color: #aecb44;
    color: #676666;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #bae716;
}

.container {
    margin: 0 auto;
    width: 795px;
}

.descr {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

form {
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
    border-bottom: solid #929292 1px;
}

.firstArrNumb {
    color: rgb(79, 85, 44);
}

.newResultArr {
    color: rgb(54, 231, 107);
}

.secondArrNumb {
    color: rgb(90, 97, 49);
    margin-top: 40px;
}

.newSelectNumbers {
    color: rgb(54, 231, 107);
}

.secondArrResults {
    color: rgb(209, 54, 85);
}